html {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', meiryo, sans-serif;
    background-color: #fff;
    color: #546e7a;
    height: 100%;
}
/* 緊急以外の画面タイトル設定 */
h1 {
    padding: 0.5em;
    /*文字周りの余白*/
    border-radius: 0.5em;
    /*角丸*/
    border: solid 3px #0033FF;
    /*線色*/
    background: linear-gradient(to right, #fdf5e6, #009900 40%, #006600);
    color: #000;
}
/* 緊急ショートカット画面のタイトル設定 */
.h1_emergency {
    padding: 0.5em;
    /*文字周りの余白*/
    border-radius: 0.5em;
    /*角丸*/
    border: solid 2px #FFF230;
    /*線色*/
    background: linear-gradient(to ri);
    background: linear-gradient(to right, #fdf5e6, #BB2E12 40%, #990000);
    color: #000;
}

h2 {
    padding: 0.5em;
    /*文字周りの余白*/
    border-radius: 0.5em;
    /*角丸*/
    border: solid 2px #0033FF;
    /*線色*/
    background: linear-gradient(to right, #fdf5e6, #009900 40%, #006600);
    color: #000;
}

h3 {
    padding: 0.5em;
    /*文字周りの余白*/
    border-radius: 0.5em;
    /*角丸*/
    background: linear-gradient(to right, #fdf5e6, #009900 40%, #006600);
    border: solid 2px #0033FF;
    /*線色*/
    color: #000;
}

h4 {
    padding: 0.5em;
    /*文字周りの余白*/
    border-radius: 0.5em;
    /*角丸*/
    border: solid 2px #0033FF;
    /*線色*/
    background: linear-gradient(to right, #fdf5e6, #009900 40%, #006600);
    color: #000;
}
/* 緊急以外の「list/edit」タイトル色設定 */
h5 {
    padding: 0.5em;
    /*文字周りの余白*/
    border-radius: 0.5em;
    /*角丸*/
    border: solid 2px #0033FF;
    /*線色*/
    background: linear-gradient(to right, #fdf5e6, #009900 40%, #006600);
    color: #000;
}
/* 緊急のlistタイトル色設定 */
.h5_emergency {
    padding: 0.5em;
    /*文字周りの余白*/
    border-radius: 0.5em;
    /*角丸*/
    border: solid 2px #FFF230;
    /*線色*/
    background: radial-gradient(#fdf5e6, #BB2E12);
    color: #000;
    display: inline;
}

.h5_practice {
    padding: 0.5em;
    /*文字周りの余白*/
    border-radius: 0.5em;
    /*角丸*/
    border: solid 2px #EEFFFF;
    /*線色*/
    /*background: radial-gradient(#fdf5e6, #005FFF);*/
    background: linear-gradient(to right, #fdf5e6, #87ceeb 50%, #6495ed);

    color: #000;
    display: inline;
}

.input_radius {
    border: 2px solid #6F8C6E;
    border-radius: 10px;
    box-shadow: none;
    padding: 2px 8px;
}

/*メンテナンス画面login用 ID*/
.input_id{
width:130px;
font-size: 10pt;
padding: 5px;
background-color: #fffafa;
border: 3px inset #ffffff;
}

/*メンテナンス画面login用 password*/
.input_password{
width:130px;
font-size: 10pt;
padding: 5px;
background-color: #fffafa;
border: 3px inset #ffffff;
}

.input_radius:focus {
    outline: none;
}
/* 緊急画面以外の背景色設定 */
.basic_set {
    background-color: #FAEBD7;
    color: #BBBBBB;
}
/* 緊急ショートカット画面の背景色設定 */
.basic_set_emergency {
    background-color: #841313;
    color: #555555;
}
/* 各list/editの背景色設定 */
.basic_set_in_iframe {
    background-color: #f8f8ff;
    color: #000;
}
/* Top緊急listの色背景設定 */
.basic_set_in_iframe_emergency {
    background-color: #ffe4e1;
    color: #000;
}
/* 緊急ショートカット画面のlist背景色設定 */
.basic_set_emergency_in_iframe {
    background-color: #ce5242;
    color: #555555;
}
/* その他button配置設定 */
.btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    background: linear-gradient(to right, #fdf5e6, #FFC107 40%, #FF8B5F);
    transition: .4s;
}
/* 緊急メッセージ履歴 button配置設定 */
.btn-gradient-radius_emg {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    position: relative; left: 65px; top: 0px;
    background: linear-gradient(to right, #fdf5e6, #FFC107 40%, #FF8B5F);
    transition: .4s;
}
/* お呼び出し履歴 button配置設定 */
.btn-gradient-radius_oyobidashi {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    position: relative; left: 240px; top: 0px;
    background: linear-gradient(to right, #fdf5e6, #FFC107 40%, #FF8B5F);
    transition: .4s;
}
/* スケジュールコンテンツ一覧 button配置設定 */
.btn-gradient-radius_schedule {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    position: relative; left: 180px; top: 0px;
    background: linear-gradient(to right, #fdf5e6, #FFC107 40%, #FF8B5F);
    transition: .4s;
}
/* 番組一覧 button配置設定 */
.btn-gradient-radius_calendar {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    position: relative; left: 280px; top: 0px;
    background: linear-gradient(to right, #fdf5e6, #FFC107 40%, #FF8B5F);
    transition: .4s;
}
/* 緊急ショートカット画面 赤項目設定 */
.btn-gradient-radius-red {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    background: -moz-linear-gradient(left, #fdf5e6, #FFC778 40%, #DD0000);
    background: -webkit-linear-gradient(left, #fdf5e6, #FFC778 40%, #DD0000);
    background: linear-gradient(to right, #fdf5e6, #FFC778 40%, #DD0000);
    transition: .4s;
}
/* 緊急ショートカット画面 青項目設定 */
.btn-gradient-radius-blue {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    background: -moz-linear-gradient(left, #fdf5e6, #4689FF 40%, #005FFF);
    background: -webkit-linear-gradient(left, #fdf5e6, #4689FF 40%, #005FFF);
    background: linear-gradient(to right, #fdf5e6, #4689FF 40%, #005FFF);
    transition: .4s;
}

/* 戻るボタン設定 */
.btn-gradient-radius-gray {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    background: linear-gradient(to right, #fdf5e6, #A1A3A6 40%, #77787B);
    transition: .4s;
}
/* list/editのボタン設定 */
.btn-gradient-radius-select {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    background: linear-gradient(to right, #fdf5e6, #009900 80%, #006600);
    transition: .4s;
}

.btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.iframe_side {
    display: table;
    width: 100%;
}

/* 聴覚障害者避難情報システムトップ画面-最新の緊急お呼び出し状況 */
.iframe_side .bySide {
    display: table-cell;
    vertical-align: middle;
    width: 1270px;
    padding-right: 0;
    padding-left: 20px;
    padding-bottom: 15px;
    overflow: hidden;
    float: left;
}
/* 聴覚障害者避難情報システムトップ画面-最新のお呼び出し状況 */
.iframe_side .bySide1 {
    display: table-cell;
    vertical-align: middle;
    width: 620px;
    padding-right: 0;
    padding-left: 20px;
    overflow: hidden;
    float: left;
}
/* 聴覚障害者避難情報システムトップ画面-実行中スケジュール */
.iframe_side .bySide1-2 {
    display: table-cell;
    vertical-align: middle;
    width: 620px;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    float: left;
}
/* お呼び出し画面-お呼び出し履歴 */
.iframe_side .bySide2 {
    display: table-cell;
    vertical-align: middle;
    /*width: 559px;*/
    width: 600px;
    padding-right: 0;
    padding-left: 25px;
    overflow: hidden;
    float: left;
}
/* お呼び出し画面-お呼び出しの編集 */
.iframe_side .bySide2-1 {
    display: table-cell;
    vertical-align: middle;
    width: 620px;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    float: left;
}
/* スケジュールコンテンツ画面-スケジュールコンテンツ一覧 */
.iframe_side .bySide3 {
    display: table-cell;
    vertical-align: middle;
    width: 600px;
    padding-right: 0;
    padding-left: 26px;
    overflow: hidden;
    float: left;
}
/* スケジュールコンテンツ画面-スケジュールコンテンツ編集 */
.iframe_side .bySide3-1 {
    display: table-cell;
    vertical-align: middle;
    width: 620px;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    float: left;
}
/* 緊急ショートカット画面-緊急メッセージ履歴 */
.iframe_side .bySide4 {
    display: table-cell;
    width: 440px;
    vertical-align: middle;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}
/* 緊急ショートカット画面-緊急メッセージ項目 */
.iframe_side .bySide4-1 {
    display: table-cell;
    vertical-align: middle;
    width: 800px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}
/* カレンダー画面-番組一覧 */
.iframe_side .bySide5 {
    display: table-cell;
    width: 500px;
    vertical-align: middle;
    padding-left: 10px;
    margin-left: 0;
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}
/* カレンダー画面-日付けの選択、番組の編集 */
.iframe_side .bySide5-1 {
    display: table-cell;
    width: 360px;
    vertical-align: middle;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}
/* カレンダー画面-タイムライン */
.iframe_side .bySideTop {
    display: table-cell;
    /*width: 33%;*/
    width: 340px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    float: top;
}
/* 各種履歴画面-親機呼び出し履歴 */
.iframe_side .bySide6 {
    display: table-cell;
    vertical-align: middle;
    width: 390px;
    padding-right: 0;
    padding-left: 20px;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}
/*各種履歴画面-ユーザ操作履歴*/
.iframe_side .bySide6-1 {
    display: table-cell;
    vertical-align: middle;
    width: 440px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}
/*各種履歴画面-緊急信号受信履歴*/
.iframe_side .bySide6-2 {
    display: table-cell;
    vertical-align: middle;
    width: 345px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 2;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}
.iframe_side .iframe {
    width: 95%;
    border-radius: 0.75em;
    /*角丸*/
}

.iframe_border {
    border-radius: 0.75em
}

.radio-input {
    display: none;
}

.radio-input + label {
    padding-left: 20px;
    position: relative;
    margin-right: 20px;
}

.radio-input + label::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #FFF;
    top: 6px;
    left: 8px;
    bottom: 50px;
    width:8px;
    height: 8px;
    border: 0.6px solid #222;
    border-radius: 50%;
}

.radio-input:checked + label {
    color: #d01137;
}

.radio-input:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 11px;
    width: 4px;
    height: 4px;
    background: #d01137;
    border-radius: 50%;
}

.line-string {
    width: 90%;
}

.overlay_wall {
    left: 0;
    top: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    top: 0;
    /* ADD */
    z-index: -100;
}

.overlay_float {
    left: 0;
    top: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    /* ADD */
    z-index: -100;
}

.overlay_float_0000 {
    margin: 0;
    position: absolute;
    z-index: -99;
}

.overlay_float_0100 {
    margin: 0;
    position: absolute;
    z-index: -98;
}

.overlay_float_0230 {
    margin: 0;
    position: absolute;
    z-index: -98;
}

.overlay_float_0600 {
    margin: 0;
    position: absolute;
    z-index: -98;
}

.overlay_float_0800 {
    min-height: 200px;
    margin: 0;
    position: absolute;
    z-index: -98;
}

.box12 {
    padding: 0 0;
    margin: 0 0;
    color: #232323;
    background: #fff8e8;
}

.box12-c {
    padding: 0 0;
    margin: 0 0;
    color: #232323;
    background: #ffc06e;
    float:left;
}

.box12 p {
    margin: 0;
    padding: 0;
}
/* 各シート区切り線 */
.round_bar_grad {
    display: block;
    width: 100%;
    height: 2px;
    border: 0;
    -webkit-border-radius: 2px;
    background: #005500;
    /* Old browsers */
    background: -moz-linear-gradient(left, #005500 0%, #267726 20%, #419941 50%, #267726 80%, #005500 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #005500), color-stop(20%, #267726), color-stop(50%, #419941), color-stop(80%, #267726), color-stop(100%, #005500));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #005500 0%, #267726 20%, #419941 50%, #267726 80%, #005500 100%);
    /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to right, #005500 0%, #267726 20%, #419941 50%, #267726 80%, #005500 100%);
    /* W3C */
}
/* 各list_table項目カラーデザイン */
.round_table {
    color: #FFF;
    border: 3px solid #ccc;
    border-collapse: separate;
    border-radius: 7px;
    border-spacing: 1px;

    th,
    td {
        border-bottom: 3px solid #ccc;
        padding: 10px 20px;
    }

    th {
        border-right: 3px solid #ccc;
        background: #EEE;
    }

    tr {
        &:first-child {
            th {
                border-radius: 7px 0 0 0;
            }

            td {
                border-radius: 0 7px 0 0;
            }
        }

        &:last-child {
            th {
                border-bottom: none;
                border-radius: 0 0 0 7px;
            }

            td {
                border-bottom: none;
                border-radius: 0 0 7px 0;
            }
        }
    }
}

.cp_iptxt {
    position: relative;
    width: 80%;
    margin: 40px 3%;
}

.cp_iptxt input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #aaaaaa;
    border: 1px solid #1b2538;
    border-radius: 4px;
}

.ef input[type='text']:focus {
    border: 1px solid #da3c41;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(218, 60, 65, .5);
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
